@font-face {
	src: url('./fonts/proxima-nova-condensed-black.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-black.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-black-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-black-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 900;
	font-style: italic;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-bold.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-bold.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-bold-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-bold-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-extrabold.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-extrabold.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-extrabold-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-extrabold-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 800;
	font-style: italic;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-light.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-light.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-light-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-light-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 300;
	font-style: italic;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-regular.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-regular.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-regular-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-regular-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 400;
	font-style: italic;
}


@font-face {
  src: url('./fonts/proxima-nova-condensed-thin.woff2') format('woff2'),
  src: url('./fonts/proxima-nova-condensed-thin.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 100;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-condensed-thin-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-condensed-thin-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: condensed;
	font-weight: 100;
	font-style: italic;
}

@font-face {
  src: url('./fonts/proxima-nova-extra-condensed-black.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-black.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-black-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-black-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 900;
	font-style: italic;
}


@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-bold.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-bold.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-bold-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-bold-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-extrabold.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-extrabold.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-extrabold-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-extrabold-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 800;
	font-style: italic;
}

@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-light.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-light.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-light-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-light-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 300;
	font-style: italic;
}

@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-regular.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-regular.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 400;
	font-style: normal;
}


@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-regular-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-regular-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 400;
	font-style: italic;
}


@font-face {
	src: url('./fonts/proxima-nova-extra-condensed-thin.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-thin.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 100;
	font-style: normal;
}

@font-face {
  src: url('./fonts/proxima-nova-extra-condensed-thin-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extra-condensed-thin-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-stretch: extra-condensed;
	font-weight: 100;
	font-style: italic;
}

@font-face {
	src: url('./fonts/proxima-nova-black.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-black.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-black-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-black-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-bold.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-bold.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	}

@font-face {
	src: url('./fonts/proxima-nova-bold-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-bold-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-extrabold.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extrabold.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
}


@font-face {
	src: url('./fonts/proxima-nova-extrabold-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-extrabold-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 800;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-light.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-light.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-light-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-light-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
  src: url('./fonts/proxima-nova-regular.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-regular.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
  src: url('./fonts/proxima-nova-regular-italic.woff2') format('woff2'),
  src: url('./fonts/proxima-nova-regular-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-thin-italic.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-thin-italic.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	src: url('./fonts/proxima-nova-thin.woff2') format('woff2'),
	src: url('./fonts/proxima-nova-thin.woff') format('woff');
	font-family: 'Proxima Nova';
	font-weight: 100;
	font-style: italic;
	font-stretch: normal;
}
